<?php

#Database settings
$host = "localhost";
$user = "";
$password = "";
$database = "";

#For additional settings that can be added here, please consult the website: http://ljvillanueva.github.io/pumilio
?>
