.db-error, .db-error pre  {
	font: 12px Arial, Helvetica, sans-serif; 
}
.db-error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}
.db-error h3 {
	margin: 0;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #990000;
}
.db-error label {
	display: block;
	padding-top: 1em;
	font-weight: bold;
}
.db-error pre {
	margin: 0;
}
